* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 1fr 5%;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
  ;
}

header {
  grid-area: header;
  background: silver;
}

main {
  grid-area: main;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background: ghostwhite;
}

section {
  width: 31vw;
  height: 75vh;
  background: deepskyblue;
  border-radius: 12px;
}

footer {
  grid-area: footer;
  background: gainsboro;
}